
p {
    color: white;
}
#mapid { 
    margin-top: 50px;
    height: 450px !important;
 }

 #info {
     height: 250px;
     margin-top: 50px;
 }

#directionbtns {
    margin-top: 20px;
}
#score {
    height: 100px;
    width: 100px;
    display: flex;
    align-content: flex-end;
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}
.container {
    width: 100%;
}